<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Movie List</h1>
    {% if movies==[]: %}
    <p>let's add new movie!</p>
    {% else %}
    {% for movie in movies: %}
    <li>
        <a href="{{ url_for('delete', movie_id=movie.id)}}">Delete</a> {{movie.name}} -- {{movie.rating}} <a href="{{ url_for('edit', movie_id=movie.id)}}">Edit</a>
    </li>
    {% endfor %}
    {% endif %}

    <a href="{{ url_for('add')}}">Add New Movie</a>
</body>
</html>